services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - "5000:5000"
    volumes:
      - db_data:/app/data
    environment:
      - DB_PATH=/app/data/dht.sqlite3

volumes:
  db_data:
    name: rpi-gardener-dev-db
