[Unit]
Description=RPi Gardener service
After=network-online.target

[Service]
ExecStart=/bin/bash /home/pi/rpi-gardener/start.sh
WorkingDirectory=/home/owner/rpi-gardener/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=owner

[Install]
WantedBy=multi-user.target
