[Unit]
Description=RPi Gardener server service
After=network-online.target

[Service]
ExecStart=/bin/bash -c '(cd /home/pi/rpi-gardener && screen -d -m sudo make server)'
WorkingDirectory=/home/owner/rpi-gardener/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=owner

[Install]
WantedBy=multi-user.target
