<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.1"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
    <style>
      body {
        font-family: monospace;
        font-size: 20px;
        text-align: center;
      }
      .blue { color: blue; }
      .red { color: red; }
    </style>
  </head>
  <body>
    <h2>RPI DHT22 sensor dashboard</h2>
    {% set last_recorded_data = data[-1] %}
    <p>
      <strong class="red">{{ last_recorded_data["temperature"] }}&#8451;</strong> -
      <strong class="blue">{{ last_recorded_data["humidity"] }}%</strong>
      (last fetch from <strong>{{ epoch_to_datetime(last_recorded_data["epoch"]) }}</strong>)
    </p>
    <div><canvas height="60" id="temperature"></canvas></div>
    <div><canvas height="60" id="humidity"></canvas></div>
  </body>
  <script>
    const charts = [{"name": "temperature", "label": "Temperature (celsius)", "color": "red"},
                    {"name": "humidity", "label": "Humidity (percent)", "color": "blue"}];
    for (const chart of charts) {
      new Chart(document.getElementById(chart.name), {
        type: 'line',
        data: {
          datasets: [{
            label: chart.label,
            data: {{ data | safe }},
            pointStyle: false,
            borderWidth: 1,
            borderColor: chart.color
          }]
        },
        options: {
          parsing: {xAxisKey: 'epoch', yAxisKey: chart.name},
          scales: {x: {type: 'time', time: {unit: 'second', displayFormats: {second: 'HH:mm:ss'}}}},
          interaction: {intersect: false, mode: 'index'}
        }
      });
    }
  </script>
</html>
