{% extends 'base.html' %}
{% block container %}
  <form method="GET">
    <label for="hours">Number of hours ago</label>
    <input type="number" min="1" max="24" id="hours"
           name="hours" value="{{ hours }}" />
    <input type="submit" />
  </form>
  <hr />
  <i>Last update: <span id="cRecordingTime">
    {{ latest["recording_time"] }}</span>
  </i>
  <div>
    <p class="red left">Temperature
      <span id="cTemperature">{{ latest["temperature"] }}</span>c
      (avg <span id="aTemperature">{{ stats["avg_temperature"] }}</span>c,
       min <span id="minTemperature">{{ stats["min_temperature"] }}</span>c,
       max <span id="maxTemperature">{{ stats["max_temperature"] }}</span>c)
    </p>
    <p class="blue right">Humidity
      <span id="cHumidity">{{ latest["humidity"] }}</span>%
      (avg <span id="aHumidity">{{ stats["avg_humidity"] }}</span>%,
       min <span id="minHumidity">{{ stats["min_humidity"] }}</span>%,
       max <span id="maxHumidity">{{ stats["max_humidity"] }}</span>%)
    </p>
    <canvas height="110" id="chart"></canvas>
    <canvas height="110" id="picoChart"></canvas>
  </div>
{% endblock %}
{% block script %}
  <script>
    const data = {{ data | safe }};
    const picoData = {{ pico_data | safe }};
    const hours = {{ hours }};
  </script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/charts.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/websocket.js') }}"></script>
{% endblock %}
