{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}
{% block css %}
  <style>
    .plant-1 { color: #39ff14; }
    .plant-2 { color: #ff00ff; }
    .plant-3 { color: #bc13fe; }
  </style>
{% endblock  %}
{% block container %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Dashboard</h1>
  </div>

  <form method="GET" class="row g-3 align-items-center mb-4">
    <div class="col-auto">
      <label for="hours" class="col-form-label">Hours ago</label>
    </div>
    <div class="col-auto">
      <input type="number" min="1" max="24" id="hours" name="hours" class="form-control" value="{{ hours }}">
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary">Update</button>
    </div>
  </form>

  <div class="row">
    <div class="col-lg-6 mb-4">
      <div class="card h-100">
        <div class="card-header">
          RPi 4 DHT22
        </div>
        <div class="card-body">
          <p class="card-text">
            <small class="text-muted">Last update: <span id="cRecordingTime">{{ latest["recording_time"] }}</span></small>
          </p>
          <div class="d-flex justify-content-between">
            <div>
              <h5>Temperature</h5>
              <p class="display-6"><span id="cTemperature">{{ latest["temperature"] }}</span>°C</p>
              <div class="small text-muted">
                <div>Avg: <span id="aTemperature">{{ stats["avg_temperature"] }}</span>°C</div>
                <div>Min: <span id="minTemperature">{{ stats["min_temperature"] }}</span>°C</div>
                <div>Max: <span id="maxTemperature">{{ stats["max_temperature"] }}</span>°C</div>
              </div>
            </div>
            <div class="text-end">
              <h5>Humidity</h5>
              <p class="display-6"><span id="cHumidity">{{ latest["humidity"] }}</span>%</p>
              <div class="small text-muted">
                <div>Avg: <span id="aHumidity">{{ stats["avg_humidity"] }}</span>%</div>
                <div>Min: <span id="minHumidity">{{ stats["min_humidity"] }}</span>%</div>
                <div>Max: <span id="maxHumidity">{{ stats["max_humidity"] }}</span>%</div>
              </div>
            </div>
          </div>
          <div style="position: relative; height: 150px;">
            <canvas id="chart"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 mb-4">
      <div class="card h-100">
        <div class="card-header">
          RPi Pico Moisture
        </div>
        <div class="card-body">
          <p class="card-text">
            <small class="text-muted">Last update: <span id="picoRecordingTime">{{ pico_latest[0]["recording_time"] }}</span></small>
          </p>
          <div class="d-flex justify-content-around mb-3 text-center">
            {% for record in pico_latest %}
              <div>
                <h5 class="{{ record['plant_id'] }}">{{ record["plant_id"] }}</h5>
                <p class="display-6 {{ record['plant_id'] }}"><span id="moisture{{ record['plant_id'] }}">{{ record["moisture"] }}</span>%</p>
              </div>
            {% endfor %}
          </div>
          <div style="position: relative; height: 150px;">
            <canvas id="picoChart"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block script %}
  <script>
    const data = {{ data | safe }};
    const picoData = {{ pico_data | safe }};
    const hours = {{ hours }};
    const picoLatestInit = {{ pico_latest | safe }};
  </script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/charts.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/websocket.js') }}"></script>
{% endblock %}
